{erl_opts, [debug_info]}.
{deps, [
  {clique, {git, "https://github.com/emqx/clique", {branch, "v0.3.11"}}},
  {marina, {git, "https://github.com/babakyadegari/marina", {branch, "master"}}},
  {emqx, {git, "https://github.com/emqx/emqx", {branch, "master"}}}
  %{marina, ".*",
  %  {git, "https://github.com/babakyadegari/marina.git", {branch, "master"}}},
  %{emqx, ".*",
  %  {git, "https://github.com/emqx/emqx.git", {branch, "master"}}},
  %{clique, ".*",
  %  {git, "https://github.com/emqx/clique.git", {branch, "master"}}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [emqx_cassandra_backend]}
]}.
